header{
    /*  */
    background-color: yellow;
    text-align: center;
    font-family: 'Prata', serif;
    font-style: italic;
    font-weight: 40%;
    
}
#titular{
    font-size: 500%;
}
.menu{
    
    background-color: yellow;
}
#firstContainer{
    background-color: yellow;
    
}
#secondTittle{
    font-style: italic;

}
main{
    /* background-color: white; */
    font-family: 'Open Sans', sans-serif;
}
#firstColumn{
    padding: 5%;
}
#secondColumn{
    background-color: yellow;
}
.link1{
    color: black;
}
#secondContainer{
    background-color: yellow;
}
#footerTittle{
    padding: 1vh;
    background-color: yellow;
    font-weight: 700;
    /* text-align: center; */
}
footer{
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    background-color: yellow;
}

body{
    background-color: yellow;
}

#secondTittleContacto{
    font-size: x-large;
}
.link2{
    color: black;
    padding: 2vh;
}
#secondTittleDep{
    font-style: italic;
}
